<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- activation les annotations -->
	<context:annotation-config></context:annotation-config>

	<context:component-scan base-package="formationSpring.beans"></context:component-scan>
	
	<bean id="guitare" class="formationSpring.beans.Guitare"/>
	
	<bean id="violon" class="formationSpring.beans.Violon"/>
	
	<bean id="hendrix" class="formationSpring.beans.Guitariste">
		<property name="nom" value="Hendrix" />
		<property name="instrumentCorde" ref="violon" />
	</bean>
	
	<bean id="foule" class="formationSpring.beans.Foule"/>
	
	<aop:config>
		<aop:pointcut id="servicePointCut" expression = "execution (* formationSpring.beans.*.performer(..))"/>
		
		<aop:aspect id="monAspect" ref="foule">
			<aop:before method="printAvant" pointcut-ref="servicePointCut"/>
			<aop:after method="printApres" pointcut-ref="servicePointCut"/>
		</aop:aspect>
	</aop:config>

</beans>
