<div style="text-align: center;">
  <h1>
    Welcome to {{title}}
  </h1>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
          Tout allumer
        </button>
      </ul>
    </div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>Mes informations</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
      </ul>
    </div>
  </div>
</div> -->


<!-- <ul>
  <li *ngFor="let item of heroes">
    {{item}}
  </li>
</ul> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil appareilName="Apple"> </app-appareil>
        <app-appareil appareilName="Huawei"> </app-appareil>
        <app-appareil appareilName="Xiaomi"> </app-appareil>
      </ul>
    </div>
  </div>
</div> -->

<!-- 
<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <li>
          <app-appareil *ngFor="let item of matos" appareilName={{item}}>
          </app-appareil>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- <app-appareil appareilName="Appareils" (ratingAppareilName)="onTest($event)"></app-appareil> -->



<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>Mes informations</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
          Tout allumer
        </button>
      </ul>
    </div>
  </div>
</div> 
